<h3 >{{ user.username }}</h3>
                <p>{{ user.nom }}</p>


        <h3>User Information:</h3>

        <p> Adresse Email:</p>

        <p>
            {{ user.email }}
        </p></br>



        <p></i> Telephone:</p>

        <p>{{ user.tel }}</p>



        <p>Specialite:</p>

        <p>
            {{ user.specialite }}
        </p>

        <hr>




    <a  href="{{ path('admin_affiche') }}" >Back to the list</a>

